body {
  font-family: 'Roboto', sans-serif;
  color: #212121;
  background-color: #ffffff;
}

/*колір основного тексту #212121 */
/*другий колір колір тексту #757575 */
/*білий #FFFFFF */
/*акцент #2196F3 */
/*третій колір #2196F3 */
/*колір з прозорістю rgba(255, 255, 255, 0.6) */
/* колір основного фону #E5E5E5 */
/* колір другого фону #F5F4FA */
/* колір третього фону #2F303A */

/* header */

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #212121;
}

.logo-web {
  color: #2196f3;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* nav */

.nav-list {
  color: #212121;
}

.nav-list-item,
.nav-contacts-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-list-item {
  color: #212121;
}

.current {
  color: #2196f3;
}

.nav-list-item:hover,
.nav-list-item:focus,
.nav-list-item:active {
  color: #2196f3;
}

.nav-contacts-list {
  color: #757575;
}

.nav-contacts-list:hover,
.nav-contacts-list:focus,
.nav-contacts-list:active {
  color: #2196f3;
}

/* hero */

.hero {
  background-color: #2f303a;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
  color: #188ce8;
}

/* feauters */
.feauters {
  background-color: #e5e5e5;
}

.feauters-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.feauters-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

/* about */

.about {
  background-color: #e5e5e5;
}

.about-title {
  color: #212121;
}

.about-title,
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

/* team */

.team {
  background-color: #f5f4fa;
}

.team-title {
  color: #212121;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team-proffession {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

/* footer */

.footer {
  background-color: #2f303a;
}

.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-logo-web {
  color: #2196f3;
}

.footer-map {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-contacts {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-contacts:hover,
.footer-contacts:focus,
.footer-contacts:active {
  color: #2196f3;
}

/* Portfolio*/

.portfolio {
  background-color: #e5e5e5;
}

.portfolio-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  color: #212121;
  cursor: pointer;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}
